/* imports the custom font from the official logo */
@font-face {
    font-family: 'American Typewriter';
    src: url("American Typewriter Regular.ttf", "Times New Roman");
}

body, html{
    height: 100%;
    opacity: 0.93;
    font-family: "American Typewriter";

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* adds a linear gradient to the background */
    background: linear-gradient(
        rgba(20, 20, 20, 0.3), 
        rgba(20,20,20, 1)),
        url( "../images/bg2.jpeg");
}

h1 {
    font-size: 50px;
}

.bg { 
	padding: 40px;
}

img {
	max-width: 550px;
    width: 100%;
}

/* class that's added dynamically to hide divs when the start button is clicked */
.hideUponStart {
	display: none;
}

/* class that's added dynamically to unhide divs when the start button is clicked */
.hiddenAtStart {
	display: none;
}

/* class that's added dynamically to hide divs when the final screen is displayed */
.hideAtEnd {
    display: none;
}

/* sets the width of the bootstrap buttons */
.buttonWidth {
    width: 30%;
}